# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 7deff12adec60e66eb70c0546f9f8dd75a07f62017f5ed91e72eded54702a744044f8cd717190688962ddf3166ddb57a6f323d9001011775978a54e814e4a7c7

test:
  secret_key_base: 326e8a6eec1541794f1d52036203f5a744ef535bed0249578673ef612817d89f189b6032dbd2fc9c486a24537800f4b28ed4f9936334aa28b2b19da2522888ce

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
